descartes
fiona
geojson
jsmin
kornia
lydorn_utils
matplotlib
multiprocess
numpy
opencv-python
overpy
pycocotools
pyproj
rasterio
scikit-image
scikit-learn
shapely
skan
tensorboard
torch
torch_lydorn
torch_scatter
torchvision
tqdm